<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<main layout:fragment="content">
    <div th:fragment="myPage">
        <h1 style="color: #fff;">마이페이지</h1>
        <ul class="nav nav-underline">
            <li class="nav-item" style="font-size: 16px;">
                <a class="nav-link active" aria-current="page" th:href="@{/order/view}">쇼핑정보</a>
            </li>
            <li class="nav-item" style="font-size: 16px;">
                <a class="nav-link active" aria-current="page" th:href="@{/myPage/update}">정보수정</a>
            </li>

        </ul>
        <br>
        <h1 th:text="${pageTitle}"></h1>
    </div>
</main>
</html>