<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<main layout:fragment="content">
    <div class="frmQnA">
        <div class="frmMyPage" th:insert="~{/myPage/index :: FragmentMyPage}"></div>
        <h1 th:text="${pageTitle}"></h1>
        <form class="frmQnA" name="frmQnA"  method="post" th:action="@{/myPage/myPage_QnA}" autocomplete="off">
            <div class="frmQnABox">
                <ul class="nav nav-underline">
                    <li class="nav-item" style="font-size: 16px;">
                        <a class="nav-link" th:href="@{/support/inquire}"><span>문의하기</span></a>
                    </li>
                    <li class="nav-item" style="font-size: 16px;">
                        <a class="nav-link" href="#"><span>문의내역</span></a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</main>
</html>