<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<section layout:fragment="content">
    <h1>게시글 검색</h1>
    <form name="frmSearch" method="get" th:action="@{/board/index}" autocomplete="off" th:object="${memberBoardSearch}">
        <table class="table-cols">
            <tr>
                <th style="color:#000000;">검색어</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt" th:field="*{sopt}">
                            <option value="all">통합검색</option>
                            <option value="bId">게시판명</option>
                            <option value="subject">제목</option>
                        </select>
                        <input type="text" name="skey" th:field="*{skey}" placeholder="검색어 입력...">
                    </div>
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit">조회하기</button>
        </div>
    </form>

    <h1 th:text="@{pageTitle}"></h1>
    <form name='frmList' method="post" th:action="@{/front/board}" autocomplete="off" target="ifrmProcess">
        <input type="hidden" name="_method" value="patch">
        <table class="table-rows">
            <thead>
            <tr>
                <th width="150">게시판</th>
                <th width="150">번호</th>
                <th width="300">제목</th>
                <th width="300">글쓴이</th>
                <th width="150">작성일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td align="center" th:text="${item.board != null ? item.board.bId : ''}"></td>
                <td align="center" th:text="${item.id}"></td>
                <td align="center" th:text="${item.subject}"></td>
                <td align="center" th:text="${item.poster}"></td>
                <td align="center" th:text="${#temporals.format(item.createdAt, 'MM/dd')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="table-action">
            <button type="button" class="sbtn"> 수정하기</button>
            <button type="button" class="sbtn blue"> 삭제하기</button>
        </div>
    </form>
</section>
</html>