<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <div th:object="${memberBoardData}">
                <th>제목</th>
                <td th:text="*{subject}"></td>
                <th width="100">작성자</th>
                <td th:text="*{poster}"></td>
                <th >등록일시</th>
                <td th:text="${#temporals.format(memberBoardData.createdAt, 'MM월dd일 HH:mm')}"></td>
                <th>IP</th>
                <td th:text="*{ip}"></td>
                <th>조회수</th>
                <td th:text="*{hit}"></td>
                <th>댓글 수</th>
                <td th:text="*{commentCnt}"></td>
        <th>내용</th>
                <div height="500" th:utext="*{content}"></div>
    </div>
</section>

</html>