<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<main layout:fragment="content">
<h2>비밀번호 변경</h2>
<form action="#" th:action="@{/member/updatePassword}" th:object="${passwordChangeForm}" method="post">
    <input type="hidden" th:field="*{userId}">
    <label for="currentPassword">현재 비밀번호:</label>
    <input type="password" th:field="*{currentPassword}">
    <br>
    <label for="newPassword">새 비밀번호:</label>
    <input type="password" th:field="*{newPassword}">
    <br>
    <label for="confirmNewPassword">새 비밀번호 확인:</label>
    <input type="password" th:field="*{confirmNewPassword}">
    <br>
    <button type="submit">비밀번호 변경하기</button>
</form>
</main>
</html>
