<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2>아이디 찾기</h2>

<form th:action="@{/member/findId}" th:object="${findIdForm}" method="post">
    <div>
        <label>회원명 :</label>
        <input type="text" th:field="*{userNm}" required>
    </div>
    <div>
        <label>휴대전화번호 :</label>
        <input type="text" th:field="*{mobile}" required>
    </div>
    <button type="submit">아이디 찾기</button>
</form>

<div th:if="${findIdForm.foundUserId}">
    <p>아이디 : <strong th:text="${findIdForm.foundUserId}"></strong></p>
</div>
<div th:text="${error}"></div>
</body>
</html>
