<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<main>
<h1>아이디 찾기</h1>
    <form name="findId" th:action="@{/member/idlookup-result}" th:object="${findIdForm}" method="post" autocomplete="off">
        <div>
            <input type="text" name="userNm" th:field="*{userNm}" th:placeholder="#{userNm}">
        </div>
        <div>
            <input type="text" name="mobile" th:field="*{mobile}" th:placeholder="#{mobile}">
        </div>
        <button type="submit">아이디 찾기</button>
    </form>
</main>
</html>