<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>회원정보수정</h2>
<form action="#" th:action="@{/member/update}" th:object="${member}" method="post">
    <input type="hidden" th:field="*{userNo}">
    아이디 : <span th:text="@{{userId}(userId=${session.memberInfo.userId})}"></span>
    <input type="hidden" th:field="*{userId}">
    <br>
    <label for="userNm">사용자명:</label>
    <input type="text" th:field="*{userNm}">
    <br>
    <label for="email">이메일:</label>
    <input type="email" th:field="*{email}">
    <br>
    <label for="mobile">전화번호:</label>
    <input type="text" th:field="*{mobile}">
    <br>
    <a th:href="@{/member/changePassword}">비밀번호 변경하기</a>
    <button type="submit">수정하기</button>
</form>
</body>
</html>
