<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <main layout:fragment="content">
        <h1 th:text="${pageTitle}"></h1>
        <form id="frmSave" name="frmSave" method="POST" th:action="@{/admin/support}" target="ifrmProcess" autocomplete="off">
            <input type="hidden" name="mode" value="add">
            <table class="custom-list">
                <tr class="custom-list-item question">
                    <th class="question" >|       질문하기       |</th>
                    <td width="800">
                        <input type="text" name="question">
                    </td>
                </tr>
            </table>
            <div class="submit_btn">
                <button type="submit">등록하기</button>
            </div>
        </form>

        <ul class="custom-list">
            <li th:each="item : ${items}" th:object="${item}" class="custom-list-item">
                <div class="question" th:text="*{question}"></div>
                <div class="answer dn" th:text="*{answer}"></div>
            </li>
        </ul>

    </main>
</html>