<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<main layout:fragment="content">
    <h2 th:text="#{member.update}"></h2>
        <form method="post" autocomplete="off" th:action="@{admin/member/update}" th:object="${joinForm}">
            <table class="table-cols">
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" name="userId" th:field="*{userId}">
                    </td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>
                        <input type="text" name="userNm" th:field="*{userNm}">
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text" name="email" th:field="*{email}">
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        <input type="text" name="mobile" th:field="*{mobile}">
                    </td>
                </tr>

            </table>
            <div class="btns">
                <button type="reset">다시입력</button>
                <button type="submit">저장하기</button>
            </div>
    </form>
</main>
</html>