<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">

<section style="width: 1000px;" layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <table style="width: 1000px;" class="table-cols" th:object="${memberBoardData}">
        <tr>
            <th width="150">제목</th>
            <td width="500" th:text="*{subject}"></td>
            <th>작성자</th>
            <td th:text="*{#strings.concat(poster, '(', member.userId, ')')}"></td>
        </tr>
        <tr>
            <th>등록일시</th>
            <td th:text="${#temporals.format(memberBoardData.createdAt, 'MM월dd일 HH:mm')}"></td>
            <th>IP</th>
            <td th:text="*{ip}"></td>
            <th>조회수</th>
            <td th:text="*{hit}"></td>
            <th>댓글 수</th>
            <td th:text="*{commentCnt}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td height="500" th:utext="*{content}"></td>
        </tr>
    </table>
</section>

</html>