<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common" class="main-header">
    <div class="header">
        <a href="/">
            <div class="logo_img">
                <img th:src="@{/images/logo.png}" alt="/">
            </div>
        </a>
        <th:block sec:authorize="isAuthenticated()">
            <span class="user-Info" th:text="${#messages.msg('member.login.msg', session.memberInfo.userNm, session.memberInfo.userId)}"></span>
            <div class="search">
                <input type="text">
                <button class="xi-search"></button>
            </div>
            <div class="head-right">
                <div class="login">
                    <a class="btn btn-default btn-sm" th:href="@{/member/logout}" th:text="#{member.logout}"></a>
                    <a class="btn btn-default btn-sm" th:href="@{/member/edit}" th:text="#{member.myInfo}"></a>
                </div>
                <div class="cart">
                    <a class="xi-cart xi-2x" th:href="@{/cart/index}"></a>
                </div>
            </div>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" th:text="#{adminPage}"></a>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <div class="head-right">
                <div class="cart">
                    <a class="xi-cart xi-2x" th:href="@{/cart/index}"></a>
                </div>
                <div class="login">
                    <a class="btn btn-default btn-sm" th:href="@{/member/join}" th:text="#{member.join}"></a>
                    <a class="btn btn-default btn-sm" th:href="@{/member/login}" th:text="#{member.login}"></a>
                </div>
            </div>
        </th:block>
    </div>
</header>
</html>