<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="mainMenu" th:fragment="frontMenu">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <th:block sec:authorize="isAuthenticated()">
        <div class="container text-center" th:object="${orderSearch}">
            <div class="row row-cols-auto">
                <div class="col">
                    <a th:href="@{/game/list}" th:classappend="${menuCode} == 'game' ? 'on'">
                        <i class="xi-gamepad"></i><span class="word">게임</span></a>
                </div>
                <div class="col">
                    <a th:href="@{/board/notice}" th:classappend="${menuCode} == 'board' ? 'on'">
                        <i class="xi-view-list"></i><span class="word">공지사항</span></a>
                </div>
                <div class="col">
                    <!--<a th:href="@{/member/support/inquire}" th:classappend="${menuCode} == 'support' ? 'on'">
                        <i class="xi-forum-o"></i>
                        고객센터
                    </a>-->
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                            <i class="xi-forum-o"></i><span class="word">고객센터</span>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" th:href="@{/support/repeatedly}">자주묻는질문</a></li>
                                            <li><a class="dropdown-item" th:href="@{/support/inquire}">질문하기</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col">
                    <a th:href="@{/myPage/index}" th:classappend="${menuCode} == 'myPage' ? 'on'">
                        <i class="xi-user"></i><span class="word">마이 페이지</span>
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{/order/cart}" th:classappend="${menuCode} == 'cart' ? 'on'">
                        <i class="xi-cart-add"></i><span class="word">장바구니</span>
                    </a>
                </div>
            </div>
        </div>
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        <div class="container text-center" th:object="${orderSearch}">
            <div class="row row-cols-auto">
                <div class="col">
                    <a th:href="@{/game/list}" th:classappend="${menuCode} == 'game' ? 'on'">
                        <i class="xi-gamepad"></i><span class="word">게임</span></a>
                </div>
                <div class="col">
                    <a th:href="@{/board/notice}" th:classappend="${menuCode} == 'board' ? 'on'">
                        <i class="xi-view-list"></i><span class="word">공지사항</span></a>
                </div>
                <div class="col">
                    <!--<a th:href="@{/member/support/inquire}" th:classappend="${menuCode} == 'support' ? 'on'">
                        <i class="xi-forum-o"></i>
                        고객센터
                    </a>-->
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                            <i class="xi-forum-o"></i><span class="word">고객센터</span>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" th:href="@{/support/repeatedly}">자주묻는질문</a></li>
                                            <li><a class="dropdown-item" th:href="@{/support/inquire}">질문하기</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </th:block>
    </div>
</html>